<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Chuck norris jokes</title>
  </head>
  <body>

    <nav class="nav-wrapper grey darken-4">
        <div class="container ">
            <a href="" class="brand-logo center-align flow-text ">Chuck Norris jokes</a>
          </div>
    </nav>
